a.btn.btn-primary.btn-xl.text-uppercase {
    --bs-btn-bg: darkcyan;
    --bs-btn-border-color: #163131;
    --bs-btn-hover-bg: #0cb3b3;
    --bs-btn-hover-border-color: cyan;
    --bs-btn-active-bg: cyan;
    --bs-btn-active-border-color: cyan;
}

header.masthead {
    background-image: url(../assets/img/backgroundhero.png);
    background-color: black;
}